<div>
    <div class="setting">
                    <span class="settinglabel">
                        <label for="mashTemperature">
                            Step Temperature</label></span> <span class="settingfield">
                                <input id="mashTemperature" type="text" ng-model="$parent.step.mashTemperature" /></span>
    </div>
    <div class="setting">
                    <span class="settinglabel">
                        <label for="mashLength">
                            Step Length</label></span> <span class="settingfield">
                                <input id="mashLength" type="text" ng-model="$parent.step.mashStepLength" /></span>
    </div>
</div>